<div class="row row-search">
  <div class='col-xs-12'>
    <%= create_link(params[:search], state_id: params[:state_id]) if create? %>
    <%= render partial: 'search' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-small-font table-bordered table-striped">
    <thead>
      <%= render 'list_head' %>
    </thead>

    <tbody>
      <%= render 'list_body' %>
    </tbody>
  </table>
  <%= paginate %>
  <%= link_back(href: administration_states_path(
    country_id: params[:country_id],
    state_id: params[:state_id])
      ) %>
</div>

