<%= form_for(resource, url: password_path(resource_class), html: { method: :post }) do |f| %>
    <%= devise_error_messages! if resource %>
    <% unless alert.blank? %>
        <div class="alert alert-warning">
          <%= alert.html_safe %>
        </div>
    <% end %>
    <% unless notice.blank? %>
        <div class="alert alert-primary alert-dismissible fade in">
          <%= notice.html_safe %>
        </div>
    <% end %>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"> <i class="fa fa-envelope"></i></span>
        <%= f.text_field :email, class: 'form-control', placeholder: (t 'activerecord.attributes.user.email') %>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> <i class="fa fa-align-justify"></i></span>
        <%= f.text_field :secret_phrase,
                         placeholder: t('activerecord.attributes.user.secret_phrase'),
                         class: 'form-control',
                         value: '' %>
      </div>
    </div>

    <%= f.submit 'Resetar a senha', class: 'btn btn-primary btn-sm btn-large form-control' %>
    <br>
    <br>
    <%= link_to raw("<i class='fa fa-arrow-left big'></i> Voltar"),
                root_path, class: 'btn btn-border btn-primary' %>
<% end %>
