<div class="<%= 'row col-xs-12' %>">
  <%= box do %>
    <%= simple_form_for resource.localized,
                        url: update_unlock_attributes_administration_user_profile_path(params.permit) do |f| %>
      <%= render 'layouts/flash_messages'  if f.object.errors[:base].blank? %>

      <%= box do %>
        <%= render 'form_base_errors', f: f %>
        <%= f.input :password,
                    required: true,
                    hint: t('hints.user.password.should_be_between_six_and_ten_characteres') %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :secret_phrase, required: true %>
      <% end %>

      <%= form_buttons do %>
        <%= f.button :save %>
      <% end %>
    <% end %>
  <% end %>
</div>
