<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="É um sistema para gerencia de igrejas" name="description">
    <meta content="zion" name="author">
    <title>Zion</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="page-container row-fluid container-fluid">
      <section>
        <div class="col-lg-12">
          <section class="box ">
            <div class="content-body">
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-xs-12 container-center-items">
                  <%= image_tag 'iceb.png',
                                width: '250px',
                                style: 'margin-top: 24px' %>
                </div>
                <div style="width: 30.333333%; float: left; display: list-item"></div>
                <div class="col-md-5 col-xs-12">
                  <div class='padding-30'>
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </body>
</html>

<%= javascript_include_tag 'login', 'data-turbolinks-track' => 'reload' %>
